* {
  box-sizing: border-box;
  margin: auto;
}

body {
  font-family: "Jost", sans-serif !important;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1410px;
  text-align: center;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  padding: 0 30px;
  background-color: #111111;
  color: #999999;
}

.top-header-left,
.top-header-center,
.top-header-right,
.logo,
.menu,
.navbar-right,
.footer-bottom-left,
.copyright,
.payment {
  margin: 0;
}

.top-header-left span:first-child {
  padding-right: 24px;
}

.top-header-center a {
  color: white;
}

.top-header-right > div {
  padding-left: 30px;
}

.top-header-right button,
.footer-bottom-left button {
  color: #555555;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content div,
.dropdown-content a {
  float: none;
  color: black;
  padding: 4px 8px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  background-color: #f3f3f3;
  height: 50px;
  width: 120px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
}

.dropdown-content div:hover,
.dropdown-content a:hover{
  background-color: #ddd;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.top-header-right {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 70px;
  
}
.header-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; 
  z-index: 999;
}

.menu {
  width: 588px;
  display: flex;
  justify-content: space-around;
}

.menu button {
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
}

.menu i {
  font-size: 12px;
}

.menu>div:last-child{
  display: flex;
  margin: 0;
}

.menu>div:last-child>a{
  font-weight: 600;
  text-decoration: none;
  color: #111111;
  margin: 14px;
}

.icon {
  display: none;
  float: left;
}
.icon i{
  font-size: 20px;
}
.menu-mb{
  display: none;
  margin: 0;
  position: absolute;
  top: 70px;
  z-index: 1;
  background-color: #ffffff;
}
.menu-mb>div{
  position: relative;
}

.menu-mb button{
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  border-top: 1px solid;
  padding: 14px;
  font-size: 20px;
}
.menu-mb-list{
  display: none;
  justify-content: start;
  position: absolute;
}
.menu-active .menu-mb-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
}
.menu-mb-list a{
  text-decoration: none;
  width: 100%;
  font-size: 20px;
  padding: 12px;
  background-color: #ffffff;
}

.menu-mb>div:last-child{
  display: flex;
  flex-direction: column;
}
.menu-mb>div:last-child a{
  margin: 0;
  text-decoration: none;
  font-size: 20px;
  padding: 12px;
  border-top: 1px solid;
  color: black;
}

.navbar-right {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-right input {
  position: absolute;
  left: -215px;
  padding: 8px 8px;
  top: -8px;
  font-size: 16px;
  border-radius: 16px;
  display: none;
}

.navbar-right i {
  margin: 0px 10px 0px 4px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -4px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0 4px;
  font-size: 10px;
}

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

.mySlides img {
  width: 100%;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: 60px;
  height: 60px;
  padding: 18px;
  margin-top: -22px;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  text-align: center;
  background-color: white;
}

.prev {
  top: 49%;
  left: 30px;
}

.next {
  top: 49%;
  right: 30px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.text {
  color: black;
  font-size: 16px;
  position: absolute;
  top: 32%;
  left: 9.75%;
  width: 40%;
  text-align: center;
}

.text h1 {
  font-size: 80px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  margin-bottom: 19px;
}

.text button {
  width: 200px;
  height: 55px;
  padding: 10px;
  border-radius: 30px;
  background: #111111;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  margin-top: 50px;
  border: none;
  text-transform: uppercase;
}

.dot-icon {
  position: absolute;
  bottom: 24px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #000000;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.categories {
  display: flex;
  margin-top: 6px;
  justify-content: center;
}

.categories-left,
.categories-center-top,
.categories-right {
  position: relative;
  margin: 0;
}

.categories-left:hover .href,
.categories-center-bottom-left:hover .href,
.categories-center-bottom-right:hover .href,
.categories-right:hover .href,
.categories-center-top:hover .href {
  background-color: #757575;
}

.categories-left > div,
.categories-right > div {
  position: absolute;
  bottom: 4%;
  width: 100%;
  text-align: center;
}

.href {
  width: 180px;
  height: 50px;
  padding: 12px;
  border-radius: 30px;
  background: #ffffff;
  cursor: pointer;
  text-align: center;
}

.href a{
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-decoration: none;
  color: #111111;
}

.categories img {
  width: 100%;
  height: 100%;
}

.categories-center {
  margin: 0 6px;
}

.categories-center-top > div,
.categories-center-bottom-left > div,
.categories-center-bottom-right > div {
  position: absolute;
  bottom: 8%;
  width: 100%;
  text-align: center;
}

.categories-center > img {
  height: 50%;
}

.categories-center-bottom-left {
  margin: 6px 3px 0 0;
  position: relative;
}

.categories-center-bottom-right {
  margin: 6px 0 0 3px;
  position: relative;
}

.top-trending,
.you-must-have{
  margin-top: 100px;
}

.top-trending-title h1 {
  font-size: 45px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0em;
  margin-bottom: 4px;
}

.top-trending-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  margin-bottom: 40px;
}

.top-trending-products {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
}

.products {
  text-align: left;
}

.products-img {
  position: relative;
}

.products-img:hover .image {
  opacity: 0.3;
  cursor: pointer;
}

.products-img:hover .middle {
  opacity: 1;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle {
  cursor: pointer;
}

.middle i {
  font-size: 32px;
}

.image {
  opacity: 1;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.sale {
  position: absolute;
  top: 3%;
  left: 4.5%;
  width: 25%;
}

.sale > button:nth-child(1) {
  width: 50px;
  height: 25px;
  font-family: Jost;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  background: #d73f0f;
}

.sale > button:nth-child(2) {
  width: 75px;
  height: 25px;
  font-family: Jost;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  margin-top: 4px;
  background: #177983;
}

.sale > button:nth-child(3) {
  width: 70px;
  height: 25px;
  border-radius: 30px;
  border: none;
  background: #757575;
  color: #ffffff;
}

.sale button:empty {
  display: none;
}

.products-title {
  padding-top: 16px;
}

.products-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
}

.products-title i {
  font-size: 9px;
  line-height: 8px;
  letter-spacing: 0.06em;
  margin-bottom: 7px;
}

.products-title span {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
}

.color-bark {
  display: flex;
  margin: 0;
  border: 1px solid #dddddd;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  margin-top: 7px;
  cursor: pointer;
}

.focus {
  border: 1px solid #111111;
}

.color {
  width: 19px;
  height: 19px;
  margin: 0;
  border-radius: 50%;
}

.banner {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  margin-top: 100px;
}

.banner p {
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 20px;
}

.banner-left p:nth-child(3),
.banner-center p:nth-child(3),
.banner-right p:nth-child(3) {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 10px;
}

.banner-left-line,
.banner-right-line {
  width: 6%;
  height: 2px;
  background-color: #000000;
  margin: 0;
  margin-top: 4px;
}

.banner-center-line {
  width: 32%;
  height: 2px;
  background-color: #000000;
  margin: 0;
  margin-top: 4px;
}

.shop-instagram-products {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin-top: 42px;
  justify-content: space-between;
}

.instagram-product {
  position: relative;
}

.instagram-product div {
  position: absolute;
  padding: 0;
  top: 4%;
  right: 5%;
  background: none;
  border: none;
  cursor: pointer;
}

footer {
  max-width: 1410px;
  height: 578px;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #555555;
}

footer h1 {
  margin-bottom: 26px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

footer>div:first-child{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-logo {
  width: 34%;
  margin: 0;
  padding-top: 100px;
}

.footer-logo > img {
  margin-bottom: 30px;
}

.footer-logo p {
  /* margin-bottom: 5px; */
}

.footer-logo .last {
  margin-bottom: 20px;
}

.footer-logo-icon a {
  margin-right: 6px;
}

.footer-categories {
  width: 17%;
  margin: 0;
  padding-top: 105px;
}

.footer-categories-list {
  display: grid;
}

.footer-categories-list a {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  margin-bottom: 15px;
  text-decoration: none;
  color: #555555;
}

.footer-categories-list a:hover {
  font-weight: bold;
  margin-left: 16px;
}

.footer-service {
  width: 15%;
  margin: 0;
  padding-top: 105px;
}

.footer-email {
  width: 34%;
  margin: 0;
  padding-top: 105px;
  padding-left: 30px;
}

.footer-email p {
  margin: 0;
  margin-bottom: 22px;
}

.footer-email input {
  width: 290px;
  height: 50px;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  border: 1px solid #ebebeb;
  font-size: 14px;
}

.footer-email button {
  width: 150px;
  height: 50px;
  padding: 10px;
  border-radius: 30px;
  gap: 10px;
  background: #111111;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-left > div {
  padding-right: 24px;
}

.payment{
  display: flex;
}

.payment div {
  border: 1px solid #dedede;
  background: none;
  width: 43px;
  height: 26px;
  border-radius: 3px;
  padding: 0px 4px;
  cursor: pointer;
  margin: 0 2px;
}

.hr-desktop{
  margin: 100px 0;
  background-color: #EBEBEB;
  height: 1px; border: none;
}
.hr-footer{
  margin: 64px 0 34px 0;
  background-color: #EBEBEB;
  height: 1px; border: none;
}

@media only screen and (max-width: 1410px) {
  .top-header-right > div {
    padding-left: 8px;
  }
  .text{
    top: 24%;
  }
  .text h1{
    font-size: 64px;
    margin-bottom: 13px;
  }
  .text button{
    width: 170px;
  }
  .top-trending-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .products {
    margin: 0 4px;
    width: 23%;
  }
  .image {
    width: 100%;
  }
  .banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .banner > div {
    width: 30%;
    margin: 0;
  }
  .banner img {
    width: 100%;
  }
  .shop-instagram-products {
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
  .footer-logo {
    width: 32%;
    padding-left: 32px;
  }
  .footer-bottom {
    padding: 0px 32px 16px 32px;
  }
}

@media only screen and (max-width: 940px) {
  .top-header{
    display: none;
  }
  .mobile{
    display: none;
  }
  .navbar{
    position: relative;
    padding: 0 12px;
  }
  .logo{
    order: 2;
  }
  .menu{
    order: 1;
  }
  .navbar-right{
    order: 3;
  }
  .menu{
    display: none;
  }
  .icon {
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    width: 10%;
    text-align: left;
  }
  .menu {
    position: relative;
  }
  .menu .icon{
    position: absolute;
    top: 0;
  }
  .text{
    top: 16%;
  }
  .text h1{
    font-size: 32px;
    line-height: normal;
  }
  .text button{
    width: 120px;
    margin-top: 20px;
  }
  .href{
    width: 100px;
    height: 32px;
    padding: 4px;
  }
  .href a{
    font-size: 14px;
  }
  .top-trending,
  .you-must-have{
    margin-top: 50px;
  }
  .top-trending-title p{
    margin-bottom: 8px;
    width: 90%;
  }
  .top-trending-products{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    gap: 0;
  }
  .products{
    margin: 16px 4px;
    width: 90%;
  }
  .hr-mb{
    margin: 32px 20px;
  }
  .banner p{
    font-size: 26px;
  }
  .banner-left p:nth-child(3), .banner-center p:nth-child(3), .banner-right p:nth-child(3){
    font-size: 14px;
  }
  .shop-instagram-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .instagram-product{
    margin: 0;
    width: 30%;
  }
  .instagram-product>img{
    width: 100%;
  }
  .footer-logo{
    width: 60%;
    padding-left: 50px;
  }
  .footer-categories{
    width: 32%;
  }
  .footer-service{
    width: 32%;
    order: 4;
    padding-top: 32px;
  }
  .footer-email{
    width: 60%;
    padding-top: 32px;
    padding-left: 50px;
  }
  .footer-email p {
    width: 80%;
  }
  .footer-email button {
    width: 120px;
    height: 46px;
  }
}

@media only screen and (max-width: 650px) {
  .prev{
    left: 12px;
  }
  .next{
    right: 12px;
  }
  .prev, .next{
    width: 40px;
    height: 40px;
    padding: 8px;
  }
  .text{
    top: 25%;
    font-size: 12px;
  }
  .text h1{
    font-size: 24px;
    margin-bottom: 0px;
  }
  .text button{
    width: 100px;
    margin-top: 4px;
    height: 32px;
    padding: 0;
  }
  .footer-bottom-left{
    display: none;
  }
  .top-trending-title p{
    margin-bottom: 24px;
  }
  .shop-instagram-products{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 12px;
  }
  .instagram-product{
    display: inline-block;
    width: 49.6%;
  }
  .instagram-product>img{
    border-radius: 12px;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .icon{
    width: 12%;
  }
  .prev{
    left: 12px;
  }
  .next{
    right: 12px;
  }
  .prev, .next{
    width: 40px;
    height: 40px;
    padding: 8px;
  }
  .text{
    top: 20%;
    font-size: 10px;
  }
  .text h1{
    font-size: 20px;
    margin-bottom: 0px;
  }
  .text button{
    width: 80px;
    margin-top: 4px;
    height: 20px;
    padding: 0;
    font-size: 10px;
  }
  .top-trending-title h1{
    font-size: 30px;
    line-height: normal;
    margin-bottom: 0;
  }
  .top-trending-title p{
    font-size: 12px;
  }
  .href{
    width: 60px;
    height: 26px;
    padding: 0;
    line-height: normal;
  }
  .href a{
    font-size: 10px;
  }
  .sale > button:nth-child(1){
    width: 32px;
    height: 20px;
    font-size: 10px;
  }
  .sale > button:nth-child(2){
    width: 54px;
    height: 20px;
    font-size: 10px;
  }
  .banner-left p:nth-child(3), .banner-center p:nth-child(3), .banner-right p:nth-child(3){
    font-size: 10px;
    padding: 0;
    line-height: normal;
  }
  .banner p{
    font-size: 16px;
    line-height: normal;
    padding-top: 8px;
  }

  footer p{
    font-size: 12px;
  }
  footer>div:first-child{
    flex-direction: column;
  }
  .footer-logo p{
    margin: 0;
    margin-bottom: 4px;
    width: 80%;
  }
  .footer-categories-list a{
    font-size: 12px;
  }
  .footer-logo{
    padding-top: 60px;
  }
  .footer-logo,
  .footer-email{
    width: 100%;
    padding-left: 12px;
  }
  .footer-categories,
  .footer-service{
    width: 100%;
    padding-left: 12px;
    padding-top: 40px;
  }
  .footer-email{
    order: 4;
  }
  .footer-bottom{
    flex-direction: column;
  }
}

